<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="todoapp">
      <h1>Todoリスト</h1>
      <form @submit.prevent="addTodo">
        <input v-model="body" />
        <button type="submit">追加</button>
      </form>
      <ul>
        <li v-for="content in contents" :key="content.id">
          <span v-if="editingTodo !== content">
            {{content.body}}
            <button @click="editTodo(content)">編集</button>
            <button @click="removeTodo(content.id)">削除</button>
          </span>
          <span v-else>
            <input
              v-model="content.body"
              v-focus
              @keypress.enter="updateTodo(content)"
              @keyup.escape="cancelEdit(content)"
            />
            <button @click="updateTodo(content)">保存</button>
            <button @click="cancelEdit(content)">キャンセル</button>
          </span>
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
