<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todoリスト</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="todoapp">
      <h1>Todoリスト</h1>
      <div class="todo-container">
        <form @submit.prevent="addTodo">
          <input class="addtodo-form" v-model="body" />
          <button type="submit">追加</button>
        </form>
        <ul class="todo-list">
          <li
            class="todo-list-item"
            v-for="content in contents"
            :key="content.id"
          >
            <input
              type="checkbox"
              v-model="content.isChecked"
              @click="checkTodo(content)"
            />
            <div
              class="todo-list-text-container"
              v-if="editingTodo !== content"
            >
              <div>
                <label
                  class="todo-list-text"
                  :class="{checked: content.isChecked}"
                >
                  {{content.body}}
                </label>
              </div>
              <div>
                <button @click="editTodo(content)">編集</button>
                <button class="remove-button" @click="removeTodo(content.id)">
                  削除
                </button>
              </div>
            </div>

            <div class="todo-list-edit-container" v-else>
              <div>
                <input
                  class="edit-todo-textbox"
                  v-model="content.body"
                  v-focus
                  @keypress.enter="updateTodo(content)"
                  @keyup.escape="cancelEdit(content)"
                />
              </div>
              <div>
                <button @click="updateTodo(content)">保存</button>
                <button class="cancel-edit-button" @click="cancelEdit(content)">
                  キャンセル
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
  </body>
</html>
