/* reset.css */

html,
body,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 初期設定 */
html {
  font-size: 10px;
}

body {
  color: #000;
  background-color: #fff8ff;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic";
  line-height: 1;
}

/* 全てに box-sizing: border-box; を適用 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Todoリストの見出し */
h1 {
  color: #708090;
  font-size: 6rem;
  font-weight: bold;
  margin: 3rem auto;
  text-align: center;
}

/* Todoリスト全体 */
.todo-container {
  text-align: center;
}

/* Todoリストの追加フォーム */
.addtodo-form {
  border: solid 1px #aaa;
  border-radius: 4px;
  font-size: 2.5rem;
  height: 4rem;
  vertical-align: middle;
  width: 40%;
}

/* ボタン */
button {
  background-color: #00aeef;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  height: 4rem;
  margin: 0 0 0 1rem;
  padding: 0 2rem;
  vertical-align: middle;
}

button:hover {
  opacity: 0.8;
}

.remove-button,
.cancel-edit-button {
  background-color: #f15b5b;
}

/* Todoリスト */
.todo-list-container {
  width: auto;
}

.todo-list {
  margin: 5rem auto 2rem;
  margin-top: 5rem;
  width: 50%;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.todo-list-text-container,
.todo-list-edit-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.todo-list-text {
  font-size: 2.5rem;
  line-height: 4rem;
  margin-left: 2rem;
  vertical-align: middle;
  text-align: left;
}

/* Todoリスト編集画面 */
.edit-todo-textbox {
  height: 4rem;
  font-size: 2.5rem;
  margin-left: 2rem;
  vertical-align: middle;
}

/* チェックボックス関連 */
input[type="checkbox"] {
  transform: scale(2.5);
}

label.checked {
  color: #949494;
  text-decoration: line-through;
}
